.user__form label span,
.user__form strong {
  display: block;
  margin-bottom: 10px;
  color: #767676;
  font-weight: normal;
}

.join__input,
.id__check__btn {
  border-radius: 5px;
  line-height: 20px;
}

.join__input,
.selected__code {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #c4c4c4;
  outline: none;
}

.join__input:active,
.join__input:focus {
  border: 1px solid #21bf48;
}

.join__input.error {
  border: 1px solid #EB5757;
}

.id__check__btn {
  padding: 17px 31px;
  color: white;
}

#userPassword, #userPassword-check {
  padding-right: 44px;
}
label:has(#userPassword)::after,
label:has(#userPassword-check)::after {
  content: "";
  width: 28px; height: 28px;
  position: absolute;
  right: 16px;
  bottom: 14px;
  background: url('/openMarket/images/icon-check-off.svg');
}
label:has(#userPassword.check)::after,
label:has(#userPassword-check.check)::after {
  background: url('/openMarket/images/icon-check-on.svg');
}
label:has(#userPassword.error)::after,
label:has(#userPassword-check.error)::after {
  bottom: 38px;
}

.select__wrap {
  position: relative;
  z-index: 10;
}

.selected__code {
  position: relative;
  min-height: 54px;
  border-radius: 5px;
  padding-right: 36px;
}

.selected__code::after{
  content: "";
  width: 24px; height: 14px;
  position: absolute;
  right: 12px; top: 50%;
  background: url("/openMarket/images/icon-down-arrow.svg");
  transform: translateY(-50%);
  transition: all 0.3s;
}

.select__wrap.view .selected__code::after {
  transform: translateY(0) rotate(180deg);
}

.select__list {
  display: none;
  position: absolute;
  width: 100%;
  height: 150px;
  overflow-y: scroll;
  left: 0;
  top: calc(100% + 5px);
  text-align: center;
  background-color: white;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  z-index: 10;
}

.select__wrap.view .select__list {
  display: block;
}

.select__list::-webkit-scrollbar {
  width: 6px;
  height: 12px;
}

.select__list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.select__list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.select__list::-webkit-scrollbar-thumb:hover {
  background: #c4c4c4;
}

.select__option {
  line-height: 20px;
  padding: 10px 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select__option:hover {
  background-color: #e0e0e0;
}

.join__checkbox {
}

.join__checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.join__checkbox p {
  color: #767676;
}
.join__checkbox p {
  padding-left: 26px;
  position: relative;
  text-align: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.join__checkbox p::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 16px;
  height: 16px;
  background: url("/openMarket/images/check-box.svg");
}
.join__checkbox em {
  font-style: normal;
  text-decoration: underline;
  font-weight: 700;
}

.join__checkbox input[type="checkbox"]:checked + p {
  color: #222;
}
.join__checkbox input[type="checkbox"]:checked + p::before {
  background: url("/openMarket/images/check-fill-box.svg");
}

.user__form .join__btn {
    width: 100%;
    background-color: #C4C4C4;
  }