.user__btn__list {
  display: flex;

  li {
    width: 50%;
    position: relative;

    button {
      width: 100%;
      padding: 20px 0 38px;
      line-height: 1.375rem;
      font-size: 1.125rem;
      text-align: center;
      background-color: #f2f2f2;
      border-radius: 10px 10px 10px 10px;
      border: 1px solid #c4c4c4;
    }
    button.active {
      background-color: white;
    }
  }
  li:has(.active)::after {
    content: "";
    display: block;
    position: absolute;
    width: calc(100% - 2px);
    height: 10px;
    background-color: white;
    z-index: 1;
    left: 1px;
    bottom: 15px;
  }
}

.user__section {
  display: flex;
  flex-direction: column;
  padding: 34px 35px 36px;
  border: 1px solid #c4c4c4;
  transform: translateY(-20px);
  width: 100%;
  background-color: white;
}

.user__section.customer {
  border-radius: 0 10px 10px 10px;
}
.user__section.seller {
  border-radius: 10px 0 10px 10px;
}

.user__section .login__input {
  width: 100%;
  line-height: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #c4c4c4;
  color: #767676;
  outline: none;
}

.user__section .login__input:nth-of-type(1) {
  margin-bottom: 6px;
}

.user__section .login__input:nth-of-type(2) {
  margin-bottom: 18px;
}

.error__message {
  color: #EB5757;
}

.user__form .btn {
  line-height: 22px;
  padding: 19px 0;
  color: white;
  font-size: 1.125rem;
  border-radius: 5px;
}

.user__form .btn__green {
  background-color: #21bf48;
}

.sign__up {
  text-align: center;
}
.sign__up a:last-child {
  margin-left: 33px;
  position: relative;
}

.sign__up a:last-child::before {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 100%;
  left: -17px;
  top: 0;
  background-color: #333;
}

.user__form label span {
  display: block;
  margin-bottom: 10px;
  color: #767676;
}

.join__input, .id__check__btn {
  border-radius: 5px;
  line-height: 20px;
  
}

.join__input {
  width: 100%;
  padding: 16px 15px;
  border: 1px solid #C4C4C4;
  outline: none;
}

.join__input:active,
.join__input:focus {
  border: 1px solid #21BF48;
}

.id__check__btn {
  padding: 17px 31px;
  color: white;
}

.select__wrap {

}