.banner {
  width: 100%;
  height: 500px;
  margin-bottom: 80px;
}
.slider {
  width: 100%;
}
.slider__prev__btn,
.slider__next__btn {
  width: 8px;
  height: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: -9999px;
}

.slider__prev__btn {
  left: 56px;
  background-image: url("/openMarket/images/icon-left-btn.svg");
}
.slider__next__btn {
  right: 56px;
  background-image: url("/openMarket/images/icon-right-btn.svg");
}

